version: "3"
services:
    test_database:
        # 컨테이너 이름을 주고 싶다면 작성한다
        container_name: test_database
        platform: linux/amd64
        image: mysql:5.7
        environment:
          MYSQL_DATABASE: test_db
          MYSQL_ROOT_PASSWORD: root
          MYSQL_ROOT_HOST: '%'
        ports:
          - 3306:3306        

    test_application:
        build: .
        ports:
          - 8080:808
        depends_on:
          - test_database